
<div>
</div>
<div class="divider"></div>
<div>
    <ul class="favorite-list">
            <div>
                <div class="card" style="text-align: center "> 
                    
                <table class="table">
                    <thead>
                        <tr>
                        <p class="card-title">Pedido:</p>
                        </tr>
                    </thead>
                    <div class="card-body" >
                    <tbody style="display: block; position:relative;
                    width:100%; overflow-y:scroll;">
                        <ul  class="list-group list-group-flush" *ngFor="let i of arrPlato">
                            <li class="list-group-item">{{i.dataPlato.nombre}}</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.precioPlato}}</li>
                        <li class="list-group-item">{{this.precioTotal}}</li>
                        </ul>
                    </tbody>
                </div>
                </table>
            </div> 
                </div>
    </ul>
</div>

