<header>Pedido</header>
<div>
   
</div>
<div class="divider"></div>
<div>
    <ul class="favorite-list">
         
            
            <div>
                <div class="title-inside">
                    <p>probando el front</p>
                     <li *ngFor="let plato of arrPlato">
                         <p>{{plato.dataPlato.nombre}}</p>


                     </li>
                   
                        
                   
                </div>
            </div>
        
    </ul>
</div>

