<h1 class="animated fadeIn fast" style="text-align: center; margin-top: 50px;">Proyecto Final - Metodología de la Investigación</h1> 
<h3 class="animated fadeIn" style="text-align: center;">Alumnos: Juan Atorri / Augusto Gagliardi</h3> 
<h4 class="animated fadeIn" style="text-align: center; margin-bottom: 50px;">Profesor: Carlos Rodriguez</h4>
<div >
    <ul>
    <li>
    Pedidito es una aplicación web para gestionar el sistema de delivery de cualquier restaurant.
    </li>
    <li>
    Desarrollada en Angular + Typescript + Bootstrap desplegada en heroku para que pueda verse desde cualquier computadora o celular
    </li>
    <li>
    Es una app dinámica es decir todo su diseño se adapta a una lista de plato que el dueño del restaurant puede cargar, la aplicación adaptara todo su diseño automáticamente a la lista de platos que se le asigne 
    </li>
    <li>
    Es una aplicacion de codigo optimizado, intuitiva y facil de usar
    </li>
    <li>
    Posee una pestaña donde el cliente puede ver los platos, obserevar sus detalles y realizar un pedido que se completa automaticamente segun los platos que vaya agregando el cliente...
    </li>
    </ul>
</div>