<div class="bg-image"style="background-image: url('https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg'); height: 100vh;  background-position: center;
background-repeat: no-repeat; background-size: cover;">
<div class="jumbotron jumbotron-fluid, animated fadeIn" >     
    <div class="container">       
        <h1 class="display-4">Pedidito</h1>       
    <p class="lead">Arma tu pedido y te lo llevamos a tu casa</p>     
</div>  

</div>
        <form display="flex" class="animated fadeIn" style="text-align: center;">
          <h4 style="text-align: center; width: 100%; color:aliceblue; margin: 0 auto; margin-top: 5px; margin-bottom: 5px;">Que vas a comer hoy ?</h4>
            <input class="form-control " style="text-align: center;  width: 600px; margin:0 auto; opacity:0.8; margin-top: 7px;" type="search" placeholder="Buscar Plato" arialabel="Buscar Plato" #buscarTexto>         
            <button (click)="buscarPlatos(buscarTexto.value)" class="btn btn-outline-success btn-sh btn-block  " style="text-align: center; margin:0 auto; width:200px; margin-top: 7px;" type="submit">Buscar</button>       
        </form> 
</div>   
